*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
  overflow-x: hidden;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#page1{
  position: relative;
  display: flex;
 
  align-items: center;
  height: 100vh;
  width: 100vw;

}
#page1 h1{
  color: rgb(245, 245, 220);
  font-size: 4vw;
  margin-left: 8vw;
  text-transform: uppercase;
}
#page2{
  position: relative;
  height: 100vh;
   display: flex;
   
  align-items: center;
  justify-content: right;
  width: 100vw;

}
#page2 h1{
  color: rgb(245, 245, 220);
  font-size: 4vw;
  margin-right: 8vw;
  text-transform: uppercase;
}
#page3{
  position: relative;
   display: flex;
   
  align-items: center;
  height: 100vh;
  width: 100vw;

}
#page3 h1{
  color: rgb(245, 245, 220);
  font-size: 4vw;
  margin-left: 8vw;
  text-transform: uppercase;
}